/*
Name: 			panel.css
Written by: 	María Martín Marín
Version: 		1.0.0
*/

.rojo { color: red; }
.cuadrado {
	width: 200px;
	height: 200px;
	background-color: #fff000;
}

.circulo {
     width: 140px;
     height: 140px;
     float:left;
     background: #5cb85c;
     border-style: 1px solid #fff;
}

.fade{
    opacity: 1;
    cursor: hand;
}

.fade:hover {
	opacity: 0.8;
    -webkit-transition: opacity 0.3s;
   	transition: opacity 0.3s;
   	cursor: hand;
    
}

.clear { clear: both; }
.fuego{
  padding-left: 2px;
    color: #fff;
}
.ficha {
	z-index: 9999;
  padding-left: 5px;
}
