/*
Name: 			panel.css
Written by: 	María Martín Marín
Version: 		1.0.0
*/

.rojo { color: red; }
.cuadrado {
	width: 200px;
	height: 200px;
	background-color: #fff000;
}

.circulo {
     width: 140px;
     height: 140px;
     float:left;
     background: #5cb85c;
     border-style: 1px solid #fff;
}

.fade{
    opacity: 1;
    cursor: hand;
}

.fade:hover {
	opacity: 0.8;
    -webkit-transition: opacity 0.3s;
   	transition: opacity 0.3s;
   	cursor: hand;
    
}

.clear { clear: both; }
.fuego{
  padding-left: 2px;
    color: #fff;
}
.ficha {
	z-index: 9999;
  padding-left: 4px;
  padding-top:4px;
  float:left;
}

/* Para la ventana de info */

.modal{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.7);
    display:none;
}

.ventana{
    width:400px;
    position:absolute;
    top:15%;
    left:50%;
    margin-left:-200px;
}

.ventana span{
    color:#fff;
    background-color:#ec971f;
    padding:.2em .5em .3em .5em;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    position:absolute;
    top:-15px;
    right:-20px
}

